.back-btn {
  font-size: 14px;
  padding: 0.7em 1em;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--btn-background-color);
  color: var(--body-color);
  box-shadow: 2px 2px 5px var(--highlight-color);
  transition: transform 0.25s ease;
}
.back-btn:hover {
  transform: scale(1.1);
}
.back-btn:active {
  transform: scale(0.95);
}

.button-container {
  margin: 3em;
}
